<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SodLat Edu Solution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% if current_user.is_authenticated %}
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </nav>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>